*{padding:0;margin:0;}

/************************************************************************************************************************** 
 *
 * TYPOGRAPHY
 *
 **************************************************************************************************************************/

@font-face {
    font-family: 'ecstasyregular';
    src: url('../fonts/talavera_-_ecstasy_ttw-webfont.eot');
    src: url('../fonts/talavera_-_ecstasy_ttw-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/talavera_-_ecstasy_ttw-webfont.woff') format('woff'),
         url('../fonts/talavera_-_ecstasy_ttw-webfont.ttf') format('truetype'),
         url('../fonts/talavera_-_ecstasy_ttw-webfont.svg#ecstasyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	
	font-family: 'ecstasyregular';
	font-size: 5em; /* 1em ~= 16px */ 
	color: #fff;
	text-align: center;
	width:3.5em;
	background-color: #000;
	margin-top: 2%;
	marigin-right: 0%;
	padding-top: 0.2em;
	
}

/**************************************************************************************************************************
 *
 * OVERWRITES
 *
 **************************************************************************************************************************/

/* Navigation  */

.navbar {
	border: none;
	background-color: #090909;
	opacity: 0.9;
	border-radius:0px;
	font-family: 'ecstasyregular';
	font-size: 1.8em; /* 1em ~= 16px */ 
	color: #fff;
	z-index:1;
	padding-top:0.6%;
	padding-right: 1%;
	padding-left: 1%;
	margin:0;
	height:10%;
	overflow: hidden;
}

.navbar-brand {
	font-family: 'ecstasyregular';
	font-size: 2em; /* 1em ~= 16px */ 
	color: #fff;
	margin-top: 4%;

	
	
}

/* Ovewrite bg for parallax windows */

.parallax-window {
	position:relative;
	background-image: url("../imgs/bg/sectionBGHighContrast.jpg");
	background-color: #090909;
	z-index:-1;
	background-repeat: no-repeat;
}

/* Disable image selection */
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/**************************************************************************************************************************
 *
 * SOCIAL
 *
 **************************************************************************************************************************/
.instagramWidget {
	border: none;
	
	width: 100%;
	height: 100%;
	position: absolute;
	top: 20.5%;
	left: 0;
}



/**************************************************************************************************************************
 *
 * VIDEO SEPARATORS
 *
 **************************************************************************************************************************/
 
.mb-section-video {
	position:relative;
	height: 53%;
	background-image: none;
	top:-10%; /* Compensate the Menu Bar*/
	
}

.mb-section-video .slogan {
	width:90%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight:600;
	color: #fff;
	position:absolute;
    left:5%;
    top:45%;
    	
}

.mb-section-video .slogan-services {
	top:40%;
}

.mb-parallax-element-video {
	top:0%;
	left:0%;
}
 
 .horizontal-lines-overlay, 
 .vertical-lines-overlay
 {
 	height: 100%;
 	width: 100%;
 	opacity: 0.7;
 }
 
 .horizontal-lines-overlay {
 	background-image: url("../imgs/bg/patternHorizontalLines.png");
 } 
 .vertical-lines-overlay {
 	background-image: url("../imgs/bg/patternVerticallLines.png");
 }
 

#bg-video-container {
	z-index:-1;
	width: 150%;
	height: 100%;
	left:0%;
	
}

/**************************************************************************************************************************
 *
 * HOME SECTION
 *
 **************************************************************************************************************************/

.mb-section-home {

}

.mb-section-home #logo {
	width:34%;
	/* Center Horizontally and Vertically */
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;	
}


/**************************************************************************************************************************
 *
 * DRINKS SECTION
 *
 **************************************************************************************************************************/
 
.mb-section-drinks {
	top:-10%; /* Compensate the Menu Bar*/
}

.navbar-section-drinks {
	top:-10%;
}

.mb-section-video-drinks {
	top:-20%;
}


/**************************************************************************************************************************
 *
 * SERVICES SECTION
 *
 **************************************************************************************************************************/


.mb-section-services {
	top:-20%; /* Compensate the Menu Bar*/
}

.navbar-section-services {
	top:-20%;
}

.mb-section-video-services {
	top:-30%;
}

/**************************************************************************************************************************
 *
 * FRIENDS SECTION
 *
 **************************************************************************************************************************/

.mb-section-friends {
	top:-30%; /* Compensate the Menu Bar*/
}

.navbar-section-friends {
	top:-30.1%;
}

.mb-section-video-friends {
	top:-40.1%;
	height: 100%;

}
.mb-section-friends-dummy-content {
	width:100%;
	height:80%;
	background-image: url("../imgs/impressionSectionBG.png");
	background-repeat:no-repeat;
	background-size: 100%;
	
}
 
/**************************************************************************************************************************
 *
 * CONTACTS SECTION
 *
 **************************************************************************************************************************/

.mb-section-contacts {
	top:-40.1%; /* Compensate the Menu Bar*/
}
.navbar-section-contacts {
	top:-40.2%;
	opacity: 1;
}

#skull {
	width: 26%;
	opacity: 0.8;
	/* Center Horizontally and Vertically */
	position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;	
	
}




/*
 * -------------------------------- *
 * -------------------------------- *
 * - XS Devices  - Phones (@media(max-width:767px) - bootstrap definition) 
 * -------------------------------- *
 * -------------------------------- *
 */

@media (min-width:0px) and (max-width:767px) {

	.mb-section-home {
		 background-image: url("../imgs/branding/logo-skull.png");
		 background-size: auto 90%;
		 background-position: center 10px;
		 /*background-color: red;*/
		 /*height: 90%;*/
 	}
	
	.mb-separator-slogan {
		background-image: url("../imgs/branding/slogan.png");
		background-size: auto 100%;
		height:100px;
		margin-top: -50px;
	}
	
	.mb-section-services {
		margin-top: -50px;
		background-position: center;
		background-size: 100%;
		width:100%;
		height: 70%;
	}	

}



/* 
 * -------------------------------- *
 * -------------------------------- *
 * - S Devices - Tablet
 * -------------------------------- *
 * -------------------------------- *
 */
  
@media(min-width:768px){
	.mb-section-logo {
		/*background-color: yellow;*/
	}
}


/* L Devices -  Small Laptops - Tablets Landscape */
@media(min-width:992px){
	.mb-section-logo {
		/*background-color: green;*/
	}
}

/* XL Devices - Computer Screens */
@media(min-width:1200px){
	.mb-section-logo {
		/*background-color: blue;*/
	}
	
}