html, body { height: 100%; }
.parallax-window {
	
	overflow: hidden;
	width: 100%;
	height:90%; /* By default parallax windows will be full screen - almost to show that there is scrolling */
	z-index:-1; /* So that elements outside the window stay on top of it when needed */
	 
}

.parallax-element,
.parallax-element *
{
	position:absolute;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-transform-origin:50% 50%; /* Safari and Chrome */
}
.parallax-element {
	width:100%;
	height: 100%;
	top:0%;
	left:0%;
}

